/* Fonts */

@font-face {
    font-family: 'Smooch';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/smooch-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/smooch-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/smooch-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/smooch-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/smooch-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/smooch-v5-latin-regular.svg#Smooch') format('svg'); /* Legacy iOS */
  }

/* koulen-regular - latin */
@font-face {
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/koulen-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/koulen-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/koulen-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/koulen-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/koulen-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/koulen-v25-latin-regular.svg#Koulen') format('svg'); /* Legacy iOS */
  }

/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ubuntu-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/ubuntu-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/ubuntu-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }

/* Universal */

h1 {
    font-family: 'Koulen', Helvetica, serif;
    font-weight: 700;
    font-size: 26px;
}

h2 {
    font-family: 'Smooch', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}

p {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Header */


/* Color */

.contain {
    border: 1px solid black;
    margin: 20px auto;
    padding: 0 20px;
}

.block {
    border: 1px solid black;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    width: 30%;
    min-height: 100px;
}

.purple {
    background-color: rgb(187, 26, 187);
}

.green {
    background-color: rgb(29, 214, 29);
}

.cyan {
    background-color: rgb(0, 255, 255);
}

.yellow {
    background-color: rgb(253, 253, 17);
}

/* Font */

.title {
    text-decoration: underline;
    font-size: 18px;
}

.f1 p {
    font-family: 'Smooch', Arial, Helvetica, sans-serif;
}

.f2 p {
    font-family: 'Koulen', Arial, Helvetica, sans-serif;
}

.f3 p {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
/* Text Styles */
